{% extends "./teacherBase.html" %}
{% block title %}
    <title> 任务列表 </title>
{% endblock %}
{% block homework_active %}
    active open
{% endblock %}
{% block mainbody %}
        <article class="content items-list-page">
            <h3 class="title">作业列表</h3>
            <br>

                <div class="title-block">
                </div>

            <div class="card items">
                <ul class="item-list striped">

                    <li class="item item-list-header hidden-sm-down">
                        <div class="item-row">
                            <div class="item-col item-col-header md">
                                <div><span>作业序号</span></div>
                            </div>
                            <div class="item-col item-col-header">
                                <div><span>作业名称</span></div>
                            </div>
                            <div class="item-col item-col-header">
                                <div><span>当前状态</span></div>
                            </div>
                            <div class="item-col item-col-header">
                                <div><span>操作</span></div>
                            </div>
                        </div>
                    </li>
                    {% for src in filelist %}
                    <li class="item">
                        <div class="item-row">
                            <div class="item-col">
                                {{ src.id }}
                            </div>
                            <div class="item-col">
                                {{ src.name }}
                            </div>
                            <div class="item-col">
                                {{ src.status }}
                            </div>
                            <div class="item-col">
                                <div>
                                    <a class="download-item" href="/teachers/download_resource/{{ src.id }}"><i
                                            class="fa fa-check icon"></i>批量下载</a>
                                </div>
                                <div>
                                    <a class="download-item" href="/teachers/download_resource/{{ src.id }}"><i
                                            class="fa fa-close icon"></i>在线批改</a>
                                    {# 这里的布局不是很懂，歪歪扭扭的，坐等有缘人来改——by llk2why #}
                                    {# 我乱加了两个 div 就神奇的掰直了那个下载 —— by ShaneTsui #}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
{% endblock %}
