<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> 作业详情-学生平台 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/vendor.css">
    <!-- Theme initialization -->
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse hidden-lg-up">
                <button class="collapse-btn" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="header-block header-block-nav">
                <ul class="nav-profile">
                    <li class="profile dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <div class="img"
                                 style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"></div>
                            <span class="name">
    			      admin
    			    </span> </a>
                        <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="#"> <i class="fa fa-user icon"></i> 个人信息 </a>
                            <a class="dropdown-item" href="/admin/set_password"> <i class="fa fa-gear icon"></i> 密码设置 </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html"> <i class="fa fa-power-off icon"></i> 退出登陆 </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand">
                                <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div> 学生系统 </div>
                        </div>
                        <nav class="menu">
                            <ul class="nav metismenu" id="sidebar-menu">
                                <li> <a href="index.html"> <em class="fa fa-home"></em> 主页 </a> </li>

                                <li>
                                <a href="forms.html"> <i class="fa fa-pencil-square-o"></i> 个人信息 </a>
                                </li>
                                <li>
                                    <a href=""> <i class="fa fa-sitemap"></i> 课程体系<i class="fa arrow"></i> </a>
                                    <ul class="collapse">
										<li> <a href=""> <i class="fa fa-check-circle-o"></i> Scrum </a></li>
										<li><a href=""> <em class="fa fa-check-circle-o"></em> 软件工程过程 </a> </li>
									</ul>
                                </li>
                                	<li class="active"> <a href="/users/get_homework"> <i class="fa fa-file-text-o"></i> 作业 </a></li>
									<li><a href=""> <em class="fa fa-th-large"></em> 资源管理 </a> </li>
									                                <li>
                                    <a href=""> <i class="fa fa-sitemap"></i> 团队管理<i class="fa arrow"></i> </a>
                                    <ul class="collapse">
										<li> <a href=""> <i class="fa fa-flag-o"></i> 团队组建</a></li>
										<li><a href=""> <em class="fa fa-check"></em> 提交申请 </a> </li>
									</ul>
                                </li>
									<li><a href=""> <em class="fa fa-comment"></em> 在线交流 </a></li>

                            </ul>
                        </nav>
                    </div>
                    <footer class="sidebar-footer">
                        <ul class="nav metismenu" id="customize-menu">
                            <li>
                                <ul>
                                    <li class="customize">
                                        <div class="customize-item">
                                            <div class="row customize-header">
                                                <div class="col-xs-4"> </div>
                                                <div class="col-xs-4"> <label class="title">fixed</label> </div>
                                                <div class="col-xs-4"> <label class="title">static</label> </div>
                                            </div>
                                            <div class="row hidden-md-down">
                                                <div class="col-xs-4"> <label class="title">Sidebar:</label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed" >
    				                        <span></span>
    				                    </label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="sidebarPosition" value="">
    				                        <span></span>
    				                    </label> </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4"> <label class="title">Header:</label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="headerPosition" value="header-fixed">
    				                        <span></span>
    				                    </label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="headerPosition" value="">
    				                        <span></span>
    				                    </label> </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4"> <label class="title">Footer:</label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
    				                        <span></span>
    				                    </label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="footerPosition" value="">
    				                        <span></span>
    				                    </label> </div>
                                            </div>
                                        </div>
                                        <div class="customize-item">
                                            <ul class="customize-colors">
                                                <li> <span class="color-item color-red" data-theme="red"></span> </li>
                                                <li> <span class="color-item color-orange" data-theme="orange"></span> </li>
                                                <li> <span class="color-item color-green" data-theme="green"></span> </li>
                                                <li> <span class="color-item color-seagreen" data-theme="seagreen"></span> </li>
                                                <li> <span class="color-item color-blue active" data-theme=""></span> </li>
                                                <li> <span class="color-item color-purple" data-theme="purple"></span> </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <a href=""> <i class="fa fa-cog"></i> Customize </a>
                            </li>
                        </ul>
                    </footer>
            </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>

        <article class="content items-list-page">
            <h2 class="title">在线批改</h2>
            <br>

            <div class="title-block">
                <div class="row">
                </div>
            </div>

            <div>
                <form>


                    <label>作业名称：&nbsp</label>{{ s.name }}
                    <br><br>

                    <label>组号：&nbsp</label>{{ s.team_no }}
                    <br><br>

                    <label>作业详情：&nbsp</label>
                    <br><br>
                    <div class="form-group row">
                            <section class="section">
                                <div class="row sameheight-container">
                                    <div class="col-md-10">
                                        <div class="card card-block sameheight-item">
                                            <form role="form">
                                                <div class="form-group" id="submission_detail" name="submission_detail"> 作业内容 </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>

                    </div>
                </form>

            </div>

            <div class="title-block">
                <div class="row">
                </div>
            </div>

            <div class="title-search-block">
                <div class="title-block">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="title">
                                作业附件&nbsp&nbsp&nbsp
                                <a href="#" class="btn btn-primary btn-sm rounded-s">下载选中文档</a>
                                <br><br>
                            </h3>
                        </div>
                    </div>
                    <div class="card items col-md-10">
                        <ul class="item-list striped">

                            <li class="item item-list-header hidden-sm-down">
                            <div class="item-row">
                                <div class="item-col fixed item-col-check"> <label class="item-check" id="select-all-items">
						<input type="checkbox" class="checkbox">
						<span></span>
					</label> </div>
                                <div class="item-col item-col-header md">
                                    <div> <span>附件名称</span> </div>
                                </div>

                                <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
                            </div>
                        </li>

                            <li class="item">
                            <div class="item-row">
                                {% if submission %}
                                {% for s in submission %}
                                    <div class="item-col fixed item-col-check"> <label class="item-check" id="select-all-items">
                                        <input type="checkbox" class="checkbox">
                                        <span></span>
                                    </label>
                                    </div>


                                    <div class="item-col item-col-title">
                                        {{ s.name }}
                                    </div>

                                    <div class="item-col">
                                        <a href="#" >在线查看</a>
                                    </div>
                                {% endfor %}
                                {% else %}
                                <div class="item-col fixed item-col-check"> <label class="item-check" id="select-all-items">

                                        <span></span>
                                    </label>
                                    </div>


                                    <div class="item-col item-col-title">
                                        No file uploaded.
                                    </div>

                                    <div class="item-col">
                                        <a href="#" > </a>
                                    </div>
                                {% endif %}
                            </div>
                        </li>

                        </ul>
                    </div>
                </div>
            </div>




            <div class="col-md-10">
                <h3 class="title">作业评价</h3>
                <br>
                <br>
                <form method="post" action="#" enctype="multipart/form-data"/>
                {% csrf_token %}
                <fieldset class="form-group">

                    <div class="row form-group">
                        <div class="col-xs-1"> <label>分数：</label> </div>
                        <div class="col-xs-6"> <input type="text" name="score" id="score" class="form-control" placeholder="Score"> </div>
                    </div>

                    <br>
                    <label class="control-label" for="formGroupExampleInput3">评语：</label>
                    <textarea rows="3" class="form-control"  name="revision_comment" id="revision_comment"></textarea>
                </fieldset>

                <a href="#" class="btn btn-primary btn-sm rounded-s" onclick="checkScoreAndRevision()">提交评价</a>

                </form>
            </div>
        </article>

        <!--./model-->
        <div class="modal fade" id="add-teacher">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><i class="fa fa-pencil"></i> 添加教师</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/admin/add_one_teacher/" method="post">
                            {% csrf_token %}
                            <div class="form-group"><label class="control-label">教工号</label> <input type="text" name="user_id"
                                                                                                   class="form-control underlined">
                            </div>
                            <div class="form-group"><label class="control-label">姓名</label> <input type="text" name="name"
                                                                                                   class="form-control underlined">
                            </div>
                            <div class="form-group"><label class="control-label">性别</label> <input type="text" name="gender"
                                                                                                   class="form-control underlined">
                            </div>


                            <div class="form-group"><label class="control-label">电子邮箱</label> <input type="text" name="email"
                                                                                                     class="form-control underlined">
                            </div>
                            <div class="form-group"><label class="control-label">住址</label> <input type="text" name="address"
                                                                                                   class="form-control underlined">
                            </div>
                            <div class="form-group"><label class="control-label">电话</label> <input type="text" name="phone_number"
                                                                                                   class="form-control underlined">
                            </div>

                            <div class="form-group"><label class="control-label">职称</label> <input type="text" name="position"
                                                                                                   class="form-control underlined">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">确认提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/static/js/vendor.js"></script>
<script src="/static/js/app.js"></script>
<script type="text/javascript">
    function checkScoreAndRevision()
    {
        var sc=document.getElementById("score");
        var com=document.getElementById("revision_comment");
        if(sc.value=="")
        {
            alert("未评分，请打分");
            return false;
        }

        else if(com.value=="")
        {
            var no_comment=confirm("无评价，确认提交？");
            if(no_comment==true)
            {
                alert("提交成功！");
            }
            else if(no_comment==false)
            {
                return false;
            }

            return false;
        }

        else
        {
            alert("提交成功！");

        }
    }
</script>

</body>

</html>