{% extends "base.html" %}

{% block title %}CourseCenter/Teacher{% endblock %}

{% block styles %}
    {{ super() }}
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
      page. However, you can choose any other skin. Make sure you
      apply the skin class to the body tag so the changes take effect.
   -->
    <!--记得修改css-->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='components/AdminLTE/dist/css/skins/skin-black.min.css') }}">

{% endblock %}
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

{% block body_attribs %} class="hold-transition skin-black sidebar-mini"{% endblock %}

{% block content %}
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>CT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Course</b>Center</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{{ url_for('static', filename='components/AdminLTE/dist/img/user2-160x160.jpg') }}"
                                     class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">不认识的臭给</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Menu Body -->
                                <li class="user-body">
                                    。这边可以塞一些信息
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">个人信息</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">登出</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                {# 这边根据不同的用户类型应该要显示不同的内容 #}
{#                <!-- Sidebar Menu -->#}
{#                <ul class="sidebar-menu">#}
{#                    <li class="header">功能</li>#}
{#                    <!-- Optionally, you can add icons to the links -->#}
{#                    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>菜单</span></a></li>#}
{#                    <li><a href="#"><i class="fa fa-link"></i> <span>另一个菜单</span></a></li>#}
{#                    <li class="treeview">#}
{#                        <a href="#"><i class="fa fa-link"></i> <span>多级</span>#}
{#                            <span class="pull-right-container">#}
{#                                <i class="fa fa-angle-left pull-right"></i>#}
{#                            </span>#}
{#                        </a>#}
{#                        <ul class="treeview-menu">#}
{#                            <li><a href="#">2级菜单1</a></li>#}
{#                            <li><a href="#">2级菜单2</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#                <!-- /.sidebar-menu -->#}
                <ul class="sidebar-menu">
                    <li><a href="{{ url_for('main.teacher_course') }}"><i class="fa fa-book"></i> <span>课程</span></a></li>
                    <li><a href="{{ url_for('main.teacher_course_info') }}"><i class="fa fa-book"></i> <span>信息</span></a></li>
                    <li><a href="{{ url_for('main.teacher_resource') }}"><i class="fa fa-book"></i> <span>资源</span></a></li>
                    <li><a href="{{ url_for('main.teacher_homework') }}"><i class="fa fa-book"></i> <span>作业</span></a></li>
                    <li><a href="{{ url_for('main.teacher_communicate') }}"><i class="fa fa-book"></i> <span>讨论</span></a></li>
                    <li><a href="{{ url_for('main.teacher_teammanagement') }}"><i class="fa fa-book"></i> <span>团队</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block content_header %}
                <h1>
                    标题
                    <small>一些描述</small>
                </h1>
                {% endblock %}
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    {% endblock %}
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                {% block content_main %}

                <!-- Your Page Content Here -->
                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                咕咕咕（这个没啥用的话直接删了也行）
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">敏捷组</a>。</strong>保留所有权利。
        </footer>

    </div>
    <!-- ./wrapper -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- AdminLTE App -->
    <script src="{{ url_for('static', filename='components/AdminLTE/dist/js/app.min.js') }}"></script>

{% endblock %}


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->


/////////////////////
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>