<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--&lt;!&ndash; 应用上下文配置文件 &ndash;&gt;-->
    <!--<param-value>classpath:spring/spring-context.xml</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--&lt;!&ndash; 配置spring核心servlet &ndash;&gt;-->
    <!--<servlet>-->
    <!--<servlet-name>daily-collect</servlet-name>-->
    <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
    <!--<init-param>-->
    <!--<description>spring mvc 配置文件</description>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>classpath:spring/spring-mvc.xml</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<listener>-->
    <!--<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>-->
    <!--</listener>-->
    <!--<context-param>-->
    <!--<param-name>log4jConfigLocation</param-name>-->
    <!--<param-value>classpath:log4j.properties</param-value>-->
    <!--</context-param>-->

    <!-- 这里注意servlet-name必须要和上面配置spring核心的servlet-name的名字一样，这里有映射的关系 -->
    <!-- url-pattern配置为/，不带文件后缀，会造成其它静态文件(js，css等)不能访问。如配为*.do，则不影响静态文件的访问 -->
    <!--<servlet-mapping>-->
    <!--<servlet-name>daily-collect</servlet-name>-->
    <!--<url-pattern>*.do</url-pattern>-->
    <!--</servlet-mapping>-->

    <!-- filer过滤器是避免请求数据字符集的乱码处理 -->
    <!--<filter>-->
    <!--<filter-name>CharacterEncodingFilter</filter-name>-->
    <!--<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
    <!--<init-param>-->
    <!--<param-name>encoding</param-name>-->
    <!--<param-value>utf-8</param-value>-->
    <!--</init-param>-->
    <!--</filter>-->
    <!-- 与上面的名字要保持一致 -->
    <!--<filter-mapping>-->
    <!--<filter-name>CharacterEncodingFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!-- 设置默认的访问路径 -->

    <filter>
        <filter-name>cors</filter-name>
        <filter-class>filterLayer.SimpleCORSFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Spring MVC配置 -->
    <!-- ====================================== -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/springmvc-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


    <!--<listener>-->
        <!--<listener-class>timeTaskLayer.InitTaskEntry</listener-class>-->
    <!--</listener>-->
    <!-- Spring配置 -->
    <!-- ====================================== -->


    <!-- 指定Spring Bean的配置文件所在目录。默认配置在WEB-INF目录下 -->
    <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>classpath:config/applicationContext.xml</param-value>-->
    <!--</context-param>-->



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>