<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maxium-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    
    <title>单位用户审核</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
            <a class="navbar-brand h4">
                    <img src="/static/src/images/logo.png">
            </a>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-4 mt-lg-0 pt-2">
                    <li class="nav-item ml-2">
                        <a class="nav-link h4 " style="font-weight: bold" href="/index/index/index.html">首页</a>
                    </li>

                </ul>
                <div class="form-inline my-2 my-lg-0 mr-5 pt-2">           
                    <div id="login_after" class="d-flex flex-row-reverse" >     
                            <div id="login_after1" class="p-2"><button class="btn btn-outline-success" onclick=logout() >注销</button></div>
                            

                    </div>
                </div>
            </div>
        </nav>
    </div>


    <div class="container mt-5">
            <div class="form-group">
                    <h5 class="mr-5">单位名称:  </h5>
                    <input  id="name"  type="text"  class="form-control" readonly>
                    <div class=" mt-4 text-center" >
                            <button class="btn btn-outline-success  col-md-offset-3" onclick="download()" >下载审核信息</button>
                           
                    </div>   
                    <div class="mt-4 text-center">
                            <button class="btn btn-outline-success" onclick="verifying(1)" >通过</button>
                            <button class="btn btn-outline-danger"  onclick="verifying(2)">拒绝</button>
                    </div>                 
            </div>
            
           
           

    
    </div>

    <footer id="footer" class="pt-5" >
        <div class="container-fluid text-center text-muted pb-1" style="height: 115px;;width:100%;background: #765784 ;background:transparent url(/static/src/images/footer.jpg) no-repeat;background-size:100%;color:#ffffff ">
            <h6 class="pt-5 mb-4">这是一个面向会议组织机构和参会人员的通用学术会议管理平台，旨在为会议主办方和学者之间搭建一个沟通的渠道</h6>
        </div>
        <div class="container" >
            <div class="row hidden-xs">
                <dl class="col-lg-2 offset-md-1 site-link pb-1">
                    <dt class=" pb-1">小组信息：</dt>
                    
                    <dd>善良之队</dd>
                    <dd>组号：12组</dd>
                    <dd>成员：9名</dd>
                    
                </dl>
                
                <dl class="col-lg-3 site-link pb-1">
                    <dt class=" pb-1">赞助商:</dt>
                    
                    <dd>北航软院教师：THB</dd>
                    
                </dl>
                <dl class="col-lg-3 site-link pb-1">
                    <dt class=" pb-1">相关协作系统</dt>
                    
                    <dd><a href="http://211.71.15.42:9011/" >在线协同团队教学系统</a></dd>
                    <dd><a href="/admin/index/index" >系统管理员页面</a></dd>
                    
                </dl>

                <dl class="col-lg-3 site-link pb-1">
                    <dt class=" pb-1">联系我们</dt>
                    
                    <dd><i class="fas fa-phone    "></i>电话：15043079731</dd>
                    <dd><i class="fa fa-envelope" aria-hidden="true"></i>邮箱：li609754893@163.com</dd>
                    <dd><i class="fas fa-location-arrow    "></i>学院路 北京航空航天大学</dd>
                </dl>
            </div>
        </div>
        <hr>
        <div class="copyright container text-center">
                Copyright  2018 善良之队 12组<br><br>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src = "/static/js/bootstrap-paginator.js"></script>
    <script>
        function getUrlParam (name) {
            let url = decodeURIComponent(window.location.href);
            name = name.replace(/[\[\]]/g, "\\$&");
            let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            let results = regex.exec(url);
            if (!results||!results[2]) {
                return '';
            }
            return results[2].replace(/\+/g, " ");
        }

        var companyId =getUrlParam("companyId")
        var file_url

        function logout()
        {
            $.post('/admin/login/logout',function(result){
                console.log("注销成功")
                window.location.href="/index/index/index"
            });
        }

        function init_detail()
        {
            $.ajax({
                type: 'post',
                url: "{:url('/admin/index/getVerifyDetail')}",
                data:{
                    "companyId":companyId 
                },
                success:function(result){
                    if(result.errNo==0){
                        
                        $("#name").val(result.data.name)
                        file_url = result.data.companyAdditionList[0].url
                        
                    }
                    else
                    {
                        alert(result.msg)
                    }

                }
            }) 
        }
        function download()
        {
            console.log(file_url)
            var url =file_url
            strUrl = "{:url('/index/index/download')}";
            strUrl += '?fileUrl=' + encodeURIComponent(url);
            window.location.href = strUrl;
        }
        
        function verifying(status)
        {
            $.ajax({ 
                type : "post", 
                url : "/admin/index/changeConfirmStatus", 
                data:{
                    "confirm":status,
                    "companyId":companyId
                },
                async : false, 
                success : function(result){ 
                    if(result.errNo==0)
                    {
                        if(status==1)
                        {
                            alert("已通过审核")
                            window.location.href="/admin/index/index"
                        }
                        else
                        {
                            alert("已拒绝")
                            window.location.href="/admin/index/index"
                        }
                        
                        
                    }
                    else
                    {
                        alert(result.msg)
                    }
                } 
                });
        }
        
        function init()
        {

            $.ajax({ 
                type : "post", 
                url : "/admin/index/checkAdminStatus", 
                async : false, 
                success : function(result){ 
                    if(result.errNo==2)
                    {
                        alert("请以管理员身份登陆")
                        window.location.href="/admin/login/index"
                    }
                } 
                });


            init_detail()
        }
        init()
    </script>
</body>

</html>