<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="团队教务管理系统ConnectionString" connectionString="Data Source=DESKTOP-TBNL310\SQLEXPRESS;Initial Catalog=团队教务管理系统;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="团队教务管理系统ConnectionString1" connectionString="Data Source=BITTERJOKER\SQLEXPRESS;Initial Catalog=团队教务管理系统;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="在线协同教育平台.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>