{% extends "base_main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - 课程管理{% endblock %}

{% block content_header %}
    <h1>更改密码</h1>
{% endblock %}

{% block content_main %}
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message[1] }}
        </div>
    {% endfor  %}
    <article>
        <div class="box box-primary course-box" data-href="#">
            <div class="box-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form) }}
                    {{ wtf.form_field(form.old_password) }}
                    {{ wtf.form_field(form.new_password) }}
                    {{ wtf.form_field(form.new_password2) }}
                    <input type="submit" class="btn btn-primary btn-block" value="保存">
                </form>
            </div>
        </div>
        <!-- /.box-primary -->
    </article>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock %}