<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>在线协同教学平台</title>
    <link rel="stylesheet" href="~/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="~/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/js/custom/general.js"></script>
    <script type="text/javascript" src="~/js/custom/dashboard.js"></script>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fileinput.min.css" rel="stylesheet" />
    <script>
        function rec() {
            var t1 = document.getElementById("tex").value;
            var t2 = document.getElementById("file").value;
            if (t1 == "" && t2 == "") {
                alert("未输入或上传数据");
            }
            else {
                alert("设置成功！");

                window.location.href = "classprogramme";
            }
        }
    </script>
</head>

<body class="withvernav">

    <script src="~/jsp/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/jsp/fileinput.min.js"></script>
    <script src="~/jsp/zh.js"></script>

    <div class="bodywrapper">
        <div class="topheader">
            <div class="left">
                <h1 class="logo">Toy <span>Car</span></h1>
                <span class="slogan">在线协同教学平台</span>



                <br clear="all" />

            </div><!--left-->

            <div class="right">
                <!--<div class="notification">
                    <a class="count" href="ajax/notifications.html"><span>9</span></a>
                </div>-->
                <div class="userinfo">
                    <img src="~/images/thumbs/avatar.png" alt="" />
                    <span>教师</span>
                </div><!--userinfo-->

                <div class="userinfodrop">
                    <div class="avatar">
                        <a href=""><img src="~/images/thumbs/avatarbig.png" alt="" /></a>

                    </div><!--avatar-->
                    <div class="userdata">
                        <h4>
                            @if (Session["CurUserName"] != null)
                            {
                                @Session["CurUserName"].ToString();
                            }
                        </h4>
                        <span>
                            工号：
                            @if (Session["CurUser"] != null)
                            {
                                @Session["CurUser"].ToString();
                            }
                        </span>
                        <ul>
                            <li><a href="\teacher\LogOut">退出</a></li>
                        </ul>
                    </div><!--userdata-->
                </div><!--userinfodrop-->
            </div><!--right-->
        </div><!--topheader-->


        <div class="header">
            <ul class="headermenu">
                <li class="current"><a href="\teacher\Teacher_setClassMessage"><span class="icon icon-flatscreen"></span>设置课程信息</a></li>
                <li><a href="\teacher\Teacher_classresource"><span class="icon icon-pencil"></span>课程资源</a></li>
                <li><a href="\teacher\Teacher_HomeworkCtrl"><span class="icon icon-message"></span>作业管理界面</a></li>
                <li><a href="\teacher\Teacher_homeworkpinggu"><span class="icon icon-chart"></span>作业评价</a></li>
                <li><a href="\teacher\Teacher_chatOL"><span class="icon icon-pencil"></span>学生成绩</a></li>
                <li><a href="\teacher\Teacher_studentTeamCtrl"><span class="icon icon-speech"></span>学生团队管理</a></li>
            </ul>



        </div><!--header-->

        <div class="vernav2 iconmenu">
            <ul>
                <li><a href="\teacher\classrequire">课程要求</a></li>



                <!--<li><a href="filemanager.html" class="gallery">文件管理</a></li>-->
                <li><a href="\teacher\classprogramme" class="elements">课程大纲</a></li>

            </ul>
            <a class="togglemenu"></a>
            <br /><br />
        </div><!--leftmenu-->
        <form class="stdform" action="setclassprogramme" method="post" enctype="multipart/form-data">

            <div align="center" class="centercontent">
                <h4 style="font-family:楷体;font-size:20pt">请输入课程大纲</h4><br />
                <textarea name="yourworks" cols="100" rows="20"></textarea>
                <br /><br /><br />

                <button type="button" id="createCourseInfo" class="btn btn-danger" onclick="location.href='#'">上传大纲</button>

                <br /><br />
                <input type="submit" class="su" value="提交" onclick="rec()">


            </div><!-- centercontent -->
            <style type="text/css">
                .centercontent {
                    padding: 150px;
                }
            </style>




        </form>
    </div><!--bodywrapper-->

    <!----------------------------------------------------------------------------------->
    <div id="teacher-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">课程大纲</h4>
                </div>
                <div class="modal-body">
                    <input id="input-id" type="file" multiple=multiple data-preview-file-type="text" name="file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href = 'setclassprogramme'">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-------------------------------------------------------------->
    <script>
    $("#input-id").fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/teacher/uploadProgram',
        overwriteInitial: false,
        maxFileSize: 0,
        maxFilesNum: 10,
    });

    $(document).ready(function () {
        $("#createCourseInfo").click(function () {
            $("#teacher-modal").modal("show");
        });
    })
    </script>
</body>
</html>
