{% extends "./studentBase.html" %}
{% block title %}
<title> 作业详情 </title>
{% endblock %}
{% block homework_active %}
active
{% endblock %}
{% block mainbody %}
<div class="title-block">
    <h3 class="title">
        作业详情
    </h3>
</div>
<article class="content static-tables-page">
    <div class="title-block">
        <h1 class="title">
            作业详情
        </h1>
    </div>
    <section class="section">
        <div class="card card-block sameheight-item" style="height: 1000px;">
            <div class="title-block">
                <div class="form-group"><label class="control-label">作业名称</label> <input type="text"
                                                                                         class="form-control underlined"
                                                                                         name="name" disabled="true"
                                                                                         value="{{ ass.name }}">
                </div>
                <div class="form-group"><label class="control-label">作业说明</label> <textarea rows="10"
                                                                                            disabled="true"
                                                                                            class="form-control boxed"
                                                                                            name="detail"
                                                                                            value="{{ ass.detail }}"></textarea>
                </div>
                <div class="form-group"><label class="control-label">作业类型</label>
                    <div><label>
                        <span>{{ ass.type }}</span>
                    </label>
                    </div>
                </div>
                <div class="form-group"><label class="control-label">开始时间</label> <label type="datetime-local"
                                                                                         class="form-control underlined"
                                                                                         name="start_time">
                    {{ass.start_time}}</label>
                </div>
                <div class="form-group"><label class="control-label">结束时间</label> <label type="datetime-local"
                                                                                         class="form-control underlined"
                                                                                         name="end_time">
                    {{ass.end_time}} </label>
                </div>
                <div class="form-group"><label class="control-label">允许提交次数</label> <label type="text"
                                                                                           class="form-control underlined"
                                                                                           name="allow_submit_times">
                    {{ass.allow_submit_times}}</label>
                </div>
                <div class="form-group"><label class="control-label">最高分数</label> <label type="text"
                                                                                         class="form-control underlined"
                                                                                         name="score">
                    {{ass.score}}</label>
                </div>
                <div class="form-group"><label class="control-label">分数权重</label> <label type="text"
                                                                                         class="form-control underlined"
                                                                                         name="score_percentage">
                    {{ass.score_percentage}}</label>
                </div>

                {% for file in filelist %}
                <div>
                    <a href="#">{{ file.name }}</a>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="title-block">
        <h1 class="title">
            提交作业
        </h1>
        </div>
        <div class="card card-block sameheight-item">
            {% if upload_permission %}
            <form method="post" action="/students/submit_ass/" enctype="multipart/form-data"/>
            {% csrf_token %}
            <input type="hidden" name="ass_id" value="{{ass.id}}">
            <input type="hidden" name="team_id" value="{{team_id}}">
            <label for="ass_text">文本：</label>
            <textarea rows="5" class="form-control boxed" id="ass_text" name="ass_text"></textarea>
            <label for="stu_ass">附件：</label>
            <input type="file" id="stu_ass" name="stu_ass" multiple="multiple">
            <input type="submit" value="提交" class="btn btn-primary">
            </form>
            {% else %}
            <p>你没有权限提交作业！</p>
            {% endif %}
        </div>
    </section>
</article>

{% endblock %}
