{% extends "./studentBase.html" %}
{% block title %}
    <title> 修改密码 </title>
{% endblock %}

{% block mainbody %}
    <article class="content item-editor-page">
                    <div class="title-block">
                        <h3 class="title">
		修改密码 <span class="sparkline bar" data-type="bar"></span>
	</h3> </div>
                    <form name="items" method="post">
                       {% csrf_token %}
                        <div class="card card-block">
                            <div class="form-group row"> <label class="col-sm-2 form-control-label text-xs-right">
				原始密码
			</label>
                                <div class="col-sm-3"> <input type="password" name="oldPassword" id="old_password" class="form-control boxed" placeholder=""> </div>
                            </div>
                           	 <div class= "form-group row"> <label class="col-sm-2 form-control-label text-xs-right">
								新密码</label>
                         	  <div class="col-sm-3"> <input type="password" name="newPassword" id="new_password" value="" class="form-control boxed" placeholder="">
                         	   </div>
							</div>

                            <div class= "form-group row"> <label class="col-sm-2 form-control-label text-xs-right">
								确认新密码</label>
                         	  <div class="col-sm-3"> <input type="password" name="newPassword2" id="new_password_confirm" value="" class="form-control boxed" placeholder="">
                         	   </div>
							</div>

                            <div class="form-group row">
                                <div class="col-sm-10 col-sm-offset-2"> <button type="submit" onclick="checkPassword()" name="submit" class="btn btn-primary">
					确认修改
				</button> </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label text-xs-right" id="msg"></label>
                            </div>
                        </div>
                    </form>
                </article>
    <script type="text/javascript">
            function checkPassword(){
                var pwd1=document.getElementById("new_password");
                var pwd2=document.getElementById("new_password_confirm");
                if(pwd1.value==""||pwd2.value==""||document.getElementById("old_password".value=="")) {
                    alert("请填写完整后提交");
                    return false;
                }

                if(pwd1.value!=pwd2.value)
                {
                    alert("两次密码不一致，请重新输入");
                    return false;
                }
                else
                {}
            }
    </script>
{% endblock %}

