{% extends "base_main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - 团队管理{% endblock %}

{% block content_header %}
    <h1>团队管理</h1>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">团队管理</li>
{% endblock %}

{% block content_main %}
    {% if not team  %}
        <div class="callout callout-warning">
            <h4>你还没有组呢！</h4>
            <p><a href="{{ url_for('student.team_view', course_id=course_id) }}">点我</a>去加一个或者去创建一个</p>
        </div>
    {% elif member_status == 0 %}
        <div class="callout callout-info">
            <h4>等待审批中</h4>
            <p>正在等待 {{ team.team_name }} 组的组长审批，请稍等</p>
        </div>
    {% elif member_status == 2 %}
        <div class="callout callout-danger">
            <h4>咕咕咕咕</h4>
            <p>{{ team.team_name }} 组拒绝了你，<a href="{{ url_for('student.team_view', course_id=course_id) }}">点我</a>重新加组</p>
        </div>
    {% endif %}
    {% if team.status == 3 and not member_status == 0 and not member_status == 2  %}
        <div class="callout callout-danger">
            <h4>被拒绝了</h4>
            <p>教师意见：{{ team.reject_reason }}</p>
            {% if team.owner_id == current_user.id  %}
                <button onclick="reset()" class="btn btn-default">确定</button>
            {% endif %}
        </div>
    {% endif %}
    <article>
        {% if team and not member_status == 0 and not member_status == 2  %}
        <div class="box box-primary course-box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ team.team_name }}
                    {% if team.status == 0 %}
                        <span class="label label-primary">组建中</span>
                    {% elif team.status == 1 %}
                        <span class="label label-warning">审核中</span>
                    {% elif team.status == 3 %}
                        <span class="label label-danger">被拒绝</span>
                    {% endif %}
                </h3>
                {% if team.owner_id == current_user.id %}
                    {% if team.status == 0 %}
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button  type="button"
                                         class="btn btn-sm btn-primary"
                                         data-toggle="tooltip"
                                         title="提交团队"
                                         onclick="submit()"
                                         {% if team.status == 1 %}disabled{% endif %} >
                                    <i class="fa fa-check-circle-o"></i>
                                </button>
                                <button  type="button"
                                         class="btn btn-sm btn-danger"
                                         data-toggle="tooltip"
                                         title="解散团队"
                                         onclick="dismiss()"
                                         {% if team.status == 1 %}disabled{% endif %}>
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="30"></th>
                            <th>id</th>
                            <th>姓名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-user"></i></td>
                            <td>{{ team.owner_id }}</td>
                            <td>{{ team.owner.name }}</td>
                            <td></td>
                        </tr>
                        {% for member in team.members if member.status == 1 %}
                            <tr>
                                <td></td>
                                <td>{{ member.student_id }}</td>
                                <td>{{ member.student.name }}</td>
                                <td>
                                    {% if team.status == 0 or team.status == 3 %}
                                    <button class="btn btn-danger btn-sm"
                                            data-toggle="tooltip"
                                            title="从本群中移除"
                                            onclick="rejectMember({{ member.student_id }})">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-primary -->
        {% endif %}

        {% if team.owner_id == current_user.id and (team.status == 0 or team.status == 3) %}
        <div class="box box-info course-box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    验证消息
                </h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>姓名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in team.members if member.status == 0 %}
                            <tr>
                                <td>{{ member.student_id }}</td>
                                <td>{{ member.real_name }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm"
                                                data-toggle="tooltip"
                                                title="通过申请"
                                                onclick="acceptMember({{ member.student_id }})">
                                            <i class="fa fa-sign-in"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm"
                                                data-toggle="tooltip"
                                                title="拒绝申请"
                                                onclick="rejectMember({{ member.student_id }})">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-primary -->
        {% endif %}
    </article>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function acceptMember(member_id){
        if(confirm('确定要通过该成员吗？')){
            $.form('', {action: 'accept', member_id: member_id}, 'POST').submit()
        }
    }

    function rejectMember(member_id) {
        if(confirm('确定要拒绝该成员吗？')){
            $.form('',  {action: 'reject', member_id: member_id}, 'POST').submit()
        }
    }

    function dismiss() {
        if(confirm('确定要解散吗？')){
            $.form('',  {action: 'dismiss'}, 'POST').submit()
        }
    }

    function submit() {
        if(confirm('确定要提交吗？')){
            $.form('',  {action: 'submit'}, 'POST').submit()
        }
    }

    function reset() {
        $.form('',  {action: 'reset'}, 'POST').submit()
    }

</script>

{% endblock %}