<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maxium-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    
    <title>稿件详情</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
            <a class="navbar-brand h4">
                    <img src="/static/src/images/logo.png">
            </a>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-4 mt-lg-0 pt-2">
                    <li class="nav-item ml-2">
                        <a class="nav-link h4 " style="font-weight: bold" href="/index/index/index.html">首页</a>
                    </li>
                    <li class="nav-item ml-4" style="font-size:20px;">
                        <a class="nav-link" href="/company/index/index.html">用户中心</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0 mr-5 pt-2">
                    <div id="login_before">
                        <button class="btn btn-outline-success my-2 my-sm-0 ml-4 pt-2" onclick=login()>登录</button>
                        <button class="btn btn-outline-success my-2 my-sm-0 ml-1 pt-2" onclick=sign_up()>注册</button>
                    </div>
                    
                    <div id="login_after" class="d-flex flex-row-reverse" >     
                            <div id="login_after1" class="p-2"><button class="btn btn-outline-success" onclick=logout() >注销</button></div>
                            

                    </div>
                    <!-- <script type="text/javascript">  
                        $(document).ready(function()
                        {
                            $.ajax({
                                url:,
                                type:"post",
                                success:function(data){
                                $(login_before)
                                }
                            })
                        
                        })
                    </script>  -->
                </div>
            </div>
        </nav>
    </div>


    <div class="container mt-5">
    <button  class="btn btn-outline-success" onclick="jumpto()">录用评测</button>
    <button  class="btn btn-outline-success" onclick="download()">下载稿件</button>
    <form class="mt-3">
        
            <div class="form-group">
                <h5 class="mr-5">标题:  </h5>
                <input  id="title"  type="text"  class="form-control" readonly>
                </div>
            <div  class="form-group">
                <h5 class="mr-5">作者信息:  </h5>
            </div>

            <div id="authors" class="container">

                <div id="1" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">第一作者姓名</span>
                      </div>
                    <input id="name-1" class="form-control" type="text" readonly>
                    <div class="input-group-prepend">
                        <span class="input-group-text">第一作者邮箱</span>
                      </div>
                    <input id="email-1" class="form-control" type="email" readonly>

                    <div class="input-group-prepend">
                        <span class="input-group-text">第一作者单位</span>
                      </div>
                    <input id="org-1" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group" >
                    <h5 class="mr-5">投稿单位:  </h5>
                    <input id="organization" type="text" class="form-control" readonly>
            </div>
            <div class="form-group" >
                    <h5 class="mr-5">摘要:  </h5>
                    <textarea  id="abstract"  rows="5" class="form-control" readonly ></textarea>
            </div>
            <div  id="verify_status" class="form-group" >
                    <h5  class="mr-5">更改信息:  </h5>
                    <textarea  id="verifier"  rows="5" class="form-control" readonly ></textarea>
            </div>
            <div class="form-group">
                    
            </div>
            
    </form>
    

        
    </div>
    <footer id="footer" class="pt-5" >
        <div class="container-fluid text-center text-muted pb-1" style="height: 115px;;width:100%;background: #765784 ;background:transparent url(/static/src/images/footer.jpg) no-repeat;background-size:100%;color:#ffffff ">
            <h6 class="pt-5 mb-4">这是一个面向会议组织机构和参会人员的通用学术会议管理平台，旨在为会议主办方和学者之间搭建一个沟通的渠道</h6>
        </div>
        <div class="container" >
            <div class="row hidden-xs">
                <dl class="col-lg-2 offset-md-1 site-link pb-1">
                    <dt class=" pb-1">小组信息：</dt>
                    
                    <dd>善良之队</dd>
                    <dd>组号：12组</dd>
                    <dd>成员：9名</dd>
                    
                </dl>
                
                <dl class="col-lg-3 site-link pb-1">
                    <dt class=" pb-1">赞助商:</dt>
                    
                    <dd>北航软院教师：THB</dd>
                    
                </dl>
                <dl class="col-lg-3 site-link pb-1">
                    <dt class=" pb-1">相关协作系统</dt>
                    
                    <dd><a href="http://211.71.15.42:9011/" >在线协同团队教学系统</a></dd>
                    <dd><a href="/admin/index/index" >系统管理员页面</a></dd>
                    
                </dl>

                <dl class="col-lg-3 site-link pb-1">
                    <dt class=" pb-1">联系我们</dt>
                    
                    <dd><i class="fas fa-phone    "></i>电话：15043079731</dd>
                    <dd><i class="fa fa-envelope" aria-hidden="true"></i>邮箱：li609754893@163.com</dd>
                    <dd><i class="fas fa-location-arrow    "></i>学院路 北京航空航天大学</dd>
                </dl>
            </div>
        </div>
        <hr>
        <div class="copyright container text-center">
                Copyright  2018 善良之队 12组<br><br>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src = "/static/js/bootstrap-paginator.js"></script>
    <script>

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return (r[2]); return null;
        }
        
        var authors_num = 1
        var chnNumChar = ["零","一","二","三","四","五","六","七","八","九"];
        var chnUnitSection = ["","万","亿","万亿","亿亿"];
        var chnUnitChar = ["","十","百","千"]; 
        var verifierstatus=false
        var manuscriptgId=getUrlParam('manuscriptId')
        var file_url 
        function jumpto()
        {
            window.location.href="/company/review/index?manucriptId="+manuscriptgId
        }
        function SectionToChinese(section){
            var strIns = '', chnStr = '';
            var unitPos = 0;
            var zero = true;
            while(section > 0){
                var v = section % 10;
                if(v === 0){
                    if(!zero){
                        zero = true;
                        chnStr = chnNumChar[v] + chnStr;
                    }
                }else{
                    zero = false;
                    strIns = chnNumChar[v];
                    strIns += chnUnitChar[unitPos];
                    chnStr = strIns + chnStr;
                }
                unitPos++;
                section = Math.floor(section / 10);
            }
            return chnStr;
        }
        function download()
        {
            console.log(file_url)
            var url =file_url
            strUrl = "{:url('/index/index/download')}";
            strUrl += '?fileUrl=' + encodeURIComponent(url);
            window.location.href = strUrl;
        }
        
        function logout()
        {
            $.post('/index/login/logout',function(result){
                location.reload();
            });
        }
        function login()
        {
            window.location.href='/index/login/index'
        }
        function sign_up()
        {
            window.location.href='/index/login/signup'
        }
        
        function add_author()
        {   
            authors_num+=1
            $('#add_button').remove()
            $('#remove_button').remove()
            var str =  `
                <div class="input-group-prepend">
                    <span class="input-group-text">第${SectionToChinese(authors_num)}作者姓名</span>
                </div>
                <input id=${"name-"+authors_num} class="form-control" type="text" readonly>
                <div class="input-group-prepend">
                    <span class="input-group-text">第${SectionToChinese(authors_num)}作者邮箱</span>
                </div>
                <input id=${"email-"+authors_num} class="form-control" type="email" readonly>
                <div class="input-group-prepend">
                    <span class="input-group-text">第${SectionToChinese(authors_num)}作者单位</span>
                </div>
                <input id=${"org-"+authors_num} class="form-control" type="text" readonly>
            `
            var temp =document.createElement("div")
            temp.setAttribute("id",authors_num)
            temp.setAttribute("class","input-group mb-3")
            temp.innerHTML = str
            author_content =document.getElementById('authors')
            author_content.appendChild(temp)
        }
        function init_detail()
        {
            $("#verify_status").hide()
            $.ajax({
                type: 'post',
                url: "{:url('meeting/manuscript/getManuscriptDetail')}",
                data:{
                    "manuscriptId":manuscriptgId
                },
                success:function(result){
                    if(result.errNo==0){
                        data = result.data
                        console.log(data)
                        $("#title").attr("value",data.title)
                        $("#abstract").val(data.abstract)
                        if(data.type==1)
                        {
                            $("#verify_status").remove()
                        }
                        else
                        {
                            $("#verify_status").show()
                            $("#verifier").val(data.modify_info)
                        }
                        $("#organization").attr("value",data.organization)
                        file_url = data.url
                        authors=JSON.parse(data.author)
                        $("#name-1").attr("value",authors[0].name)
                        $("#email-1").attr("value",authors[0].email)
                        $("#org-1").attr("value",authors[0].org)
                        for(var i=2;i<=authors.length;i++)
                        {
                            add_author()
                            $("#name-"+i).attr("value",authors[i-1].name)
                            $("#email-"+i).attr("value",authors[i-1].email)
                            $("#org-"+i).attr("value",authors[i-1].org)
                        }
                        
                    }

                }
            }) 
        }
        function init()
        {       
            //是否登陆
            var status
            $.ajax({ 
                type : "post", 
                url : "/index/index/getLoginStatus", 
                async : false, 
                success : function(result){ 
                    status = result.data.status
                } 
                });
            console.log(status)
            if(status!=2 &&status!=3)
            {
                window.location.href='/index/index/index'
            }
            if(status!=0){
                var myurl = null;
                switch(status){
                    case 1:myurl='/index/user/getUserDetail'
                    break
                    case 2:myurl='/company/index/getCompanyDetail'
                    break
                    case 3:myurl='/company/index/getCompanyUnitDetail'
                    break
                }
                console.log(myurl)
                $.ajax({ 
                type : "post", 
                url : myurl, 
                async : false, 
                success : function(result){ 
                    
                    var str_user=` <div id="login_after2" class="p-2">
                            <button class="btn btn-outline-success border-0"  id='username' ><h5>${result.data.name}<h5></button>
                        </div>`
                    document.getElementById('login_after').innerHTML+=str_user
                    $("#login_before").hide()
                    init_detail()
                } 
                });
            }
            else
            {   
                $("#login_after1").hide()
                $("#login_after2").hide()
            }

            
        }
        init()
    </script>
</body>

</html>